<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Short URL request for '<%= @short_url_request.from_path %>' by <%= @short_url_request.organisation_title %></h1>
    <dl>
      <dt>From:</dt>
      <dd><%= @short_url_request.from_path %></dd>

      <dt>To:</dt>
      <dd><%= @short_url_request.to_path %></dd>

      <dt>Requester:</dt>
      <dd><%= @short_url_request.requester.name %></dd>

      <dt>Contact email:</dt>
      <dd><%= @short_url_request.contact_email %></dd>

      <dt>Organisation:</dt>
      <dd><%= @short_url_request.organisation_title %></dd>

      <dt>Reason:</dt>
      <dd><%= @short_url_request.reason %></dd>
    </dl>
  </body>
</html>
