<%= form_for @short_url_request do |f| %>
  <dl class="govuk-body">
    <dt>State:</dt>
    <dd><%= @short_url_request.state.titleize %></dd>
  </dl>

  <!-- TODO: replace with error component -->
  <%= render_errors_for @short_url_request, leading_message: "Your request for a URL redirect or short URL could not be made for the following reasons:" %>

  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: :from_path
    },
    id: "short_url_request_from_path",
    name: "short_url_request[from_path]",
    hint: "The URL or the short URL to redirect the user from. Please specify it as a relative path (eg. '/hmrc/tax-evasion')"
  } %>

  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: :to_path
    },
    id: "short_url_request_to_path",
    name: "short_url_request[to_path]",
    hint: "The URL to redirect the user to. You can use an internal gov.uk link (e.g: /government/publications/what-hmrc-does-to-prevent-tax-evasion) or external gov.uk subdomain links (e.g: https://my-title.external.gov.uk/an-optional-path)"
  } %>

  <%
    organisations_for_select = organisations.map do |org|
      {
        text: org.title,
        value: org.slug,
        selected: (true if org.slug.eql?("government-digital-service"))
      }
    end
  %>

  <%= render "govuk_publishing_components/components/select", {
    id: "short_url_request_organisation_slug",
    name: "short_url_request[organisation_slug]",
    label: "Organisation",
    options: organisations_for_select
  } %>

  <%= render "govuk_publishing_components/components/textarea", {
    id: "short_url_request_reason",
    label: {
      text: "Reason"
    },
    name: "short_url_request[reason]",
    hint: "Please explain the reason for this request. Requests without a clear and valid reason will be denied. Include any Zendesk ticket URL or other information if available."
  } %>

  <% if allow_use_of_advanced_options? %>
    <%= render "govuk_publishing_components/components/details", {
        title: "Advanced options"
      } do %>
        <p class="govuk-body"><strong>Leave as defaults if unsure!</strong></p>

        <%= render "govuk_publishing_components/components/radio", {
          name: "short_url_request[override_existing]",
          id: "short_url_request_override_existing",
          heading: "Override existing",
          description: sanitize("This will allow the redirect to override any existing content for this path. <strong>Be very careful with this option.</strong>"),
          items: [
            {
              value: "false",
              text: "No",
              checked: true
            },
            {
              value: "true",
              text: "Yes"
            }
          ]
        } %>

        <%= render "govuk_publishing_components/components/radio", {
          name: "short_url_request[route_type]",
          id: "short_url_request_route_type",
          heading: "From redirects",
          description: sanitize("Do not redirect all pages unless you need any page with an address which starts with your input to also be redirected. For example, if you add <span class='app-url'>gov.uk/address/</span> then <span class='app-url'>gov.uk/address/gone</span> would also be redirected."),
          items: [
            {
              value: "exact",
              text: "Exact URL only",
              checked: true
            },
            {
              value: "prefix",
              text: "URL and all pages under it"
            }
          ]
        } %>

        <%= render "govuk_publishing_components/components/radio", {
          name: "short_url_request[segments_mode]",
          id: "short_url_request_segments_mode",
          heading: "Segments",
          items: [
            {
              value: "ignore",
              text: "Discard",
              checked: true
            },
            {
              value: "preserve",
              text: "Keep"
            }
          ]
        } %>

      <h2 class="govuk-heading-m">Help with Segments</h2>
      <p>This is about whether query string parameters are kept or discarded when a user is redirected.</p>

      <h3 class="govuk-heading-s">Discard</h3>
      <p>Given a from_path of <span class="app-url">/old-page</span> and a to_path of <span class="app-url">/new-page</span>:</p>
      <ul>
        <li>Exact URL Only: a user visiting <span class="app-url">/old-page?q=123</span> will be redirected to <span class="app-url">/new-page</span></li>
        <li>URL and all pages under it: the above will be true, and in addition a user visiting <span class="app-url">/old-page/child/page</span> will be redirected to <span class="app-url">/new-page</span></li>
      </ul>

      <h3 class="govuk-heading-s">Keep</h3>
      <p>Given a from_path of <span class="app-url">/old-page</span> and a to_path of <span class="app-url">/new-page</span>:</p>
      <ul>
        <li>Exact URL Only: a user visiting <span class="app-url">/old-page?q=123</span> will be redirected to <span class="app-url">/new-page?q=123</span></li>
        <li>URL and all pages under it: the above will be true, and in addition a user visiting <span class="app-url">/old-page/child/page</span> will be redirected to <span class="app-url">/new-page/child/page</span></li>
      </ul>
    <% end %>
  <% end %>

  <% button_text =  @short_url_request.new_record? ? "Submit request" : "Update" %>
  <%= render "govuk_publishing_components/components/button", {
    text: button_text,
    value: button_text,
    name: "commit"
  } %>
  <%= render "govuk_publishing_components/components/button", {
    text: "Cancel",
    destructive: true,
    href: "/",
  } %>
<% end %>
