<%= form_for @short_url_request do |f| %>
  <%= f.hidden_field :from_path %>
  <%= f.hidden_field :to_path %>
  <%= f.hidden_field :organisation_slug %>
  <%= f.hidden_field :reason %>
  <%= f.hidden_field :confirmed, value: true %>
  <% if allow_use_of_advanced_options? %>
    <%= f.hidden_field :override_existing %>
    <%= f.hidden_field :route_type %>
    <%= f.hidden_field :segments_mode %>
  <% end %>
  <% if would_overwrite_existing?(@short_url_request) %>
    <h1>Redirects for that URL redirect or short URL already exist!</h1>
  <% else %>
    <h1>A URL redirect or short URL already redirects to that content</h1>
  <% end %>
  <p>These URL redirects or short URLs are already live on GOV.UK:</p>
  <ul>
    <% @short_url_request.similar_redirects.each do |dupe| %>
      <li>
        <code><%= dupe.from_path %></code> redirecting to <code><%= dupe.to_path %></code>
      </li>
    <% end %>
  </ul>
  <p>
    You requested to redirect <code><%= @short_url_request.from_path %></code>
    to <code><%= @short_url_request.to_path %>.</code>
  </p>
  <% if would_overwrite_existing?(@short_url_request) %>
    <p>If your request is accepted, it will overwrite the existing URL redirect or short URL.</p>
  <% else %>
    <p>Do you want another URL redirect or short URL to redirect to that content?</p>
  <% end %>
  <%= f.submit 'Yes, I still want to request this URL redirect or short URL', class: 'btn btn-success' %>
  <%= link_to "Cancel", '/', class: "btn btn-default add-left-margin" %>
<% end %>
