<% breadcrumb :live_short_urls %>

<table class="table table-bordered table-hover" data-module="filterable-table">
  <thead>
    <tr class="table-header">
      <th>Organisation</th>
      <th>From</th>
      <th>To</th>
      <th>State</th>
      <th>Date</th>
    </tr>
    <tr class="if-no-js-hide table-header-secondary">
      <td colspan="5">
        <form>
          <label for="url-list-filter" class="rm">Filter short URLs</label>
          <input id="url-list-filter" type="text" class="form-control normal js-filter-table-input" placeholder="Filter short URLs">
        </form>
      </td>
    </tr>
  </thead>
  <% @accepted_short_urls.each do |request| %>
    <tr class="clickable_row">
      <td><%= link_to request.organisation_title, short_url_request_path(request) %></td>
      <td><%= link_to request.from_path, short_url_request_path(request) %></td>
      <td><%= link_to request.to_path, short_url_request_path(request) %></td>
      <td><%= link_to request.state.titleize, short_url_request_path(request) %></td>
      <td><%= link_to request.updated_at.to_date, short_url_request_path(request) %></td>
    </tr>
  <% end %>
</table>

